html {
  box-sizing: border-box;
}

body {
  font-family: verdana;
  margin: 0;
  background: linear-gradient(to right, #614385, #516395);
}

a {
  color: white;
}
  .box ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .box ul li {
    border-bottom: 1px solid black;
    padding: 10px;
  }

  .box ul li:last-child{
    border-bottom: 0;
  }

  .box a {
    text-decoration: none;
    background: yellow;
    padding: 10px;
    color: black;
    border-radius: 5px;
  }

  .box h2 {
    text-transform: uppercase;
    color: white;
  }

  .kaina {
    font-size: 46px;
    margin: 10px 0;
  }

  .container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .box {
    flex: 1;
    background: rgba(255, 255, 255, 0.3);
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
  }
